Project Details:
{{ project_details | tojson }}

Data Sources:
{{ data_sources | tojson }}

Relationships:
{{ relationships | tojson }}

Stats:  
{{ stats | tojson }}

Visual Types:
{{ visual_types | tojson }}

Number of Visuals: {{ number_of_visuals }}
