Data Sources:
{{ data_sources | tojson }}

Relationships:
{{ relationships | tojson }}

Sample Series Output for the visual concept:
{{ sample_series_output | tojson }}

Visual Concept:
{{ visual_concept | tojson }}
